#PyCitySchools Analysis

In [1]:
#import setup
import pandas as pd

#load files to analyze
schoolDataLoad = "Resources/schools_complete.csv"
studentDataLoad = "Resources/students_complete.csv"

#create dataframes
schoolDataDF = pd.read_csv(schoolDataLoad)
#schoolDataDF.head()
studentDataDF = pd.read_csv(studentDataLoad)
#studentDataDF.head()

#merge schoolData with full studentData set based on school_name
completeDataDF = pd.merge(studentDataDF, schoolDataDF, how="left", on=["school_name", "school_name"])
completeDataDF.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#find the appropriate summary values
schoolTotal = len(completeDataDF["school_name"].unique())
studentsTotal = len(completeDataDF)
budgetTotal = sum(completeDataDF["budget"].unique())
averageMath = completeDataDF["math_score"].mean()
averageReading = completeDataDF["reading_score"].mean()
mathPassing = len(completeDataDF.loc[completeDataDF["math_score"] > 69])/studentsTotal
readingPassing = len(completeDataDF.loc[completeDataDF["reading_score"] > 69])/studentsTotal
overallPassing = len(completeDataDF.loc[(completeDataDF["math_score"] > 69) & (completeDataDF["reading_score"] > 69)])/studentsTotal

#create a dataframe of the summary with column headers
summaryDF = pd.DataFrame({"Total Schools": [schoolTotal], "Total Students": [studentsTotal], "Total Budget": [budgetTotal], 
                         "Math Score Average": [averageMath], "Reading Score Average": [averageReading], 
                         "Math Passing Percent": [mathPassing], "Reading Passing Percent": [readingPassing], 
                         "Overall Passing Percent": [overallPassing]})
#format the dataframe columns
summaryDF["Total Students"] = summaryDF["Total Students"].map("{:,}".format)
summaryDF["Total Budget"] = summaryDF["Total Budget"].map("${:,.2f}".format)
summaryDF["Math Score Average"] = summaryDF["Math Score Average"].map("{:,.3f}".format)
summaryDF["Reading Score Average"] = summaryDF["Reading Score Average"].map("{:,.3f}".format)
summaryDF["Math Passing Percent"] = summaryDF["Math Passing Percent"].map("{:.2%}".format)
summaryDF["Reading Passing Percent"] = summaryDF["Reading Passing Percent"].map("{:.2%}".format)
summaryDF["Overall Passing Percent"] = summaryDF["Overall Passing Percent"].map("{:.2%}".format)

#display the results without the index
summaryDF.style.hide_index()

School Summary¶

Create an overview table that summarizes key metrics about each school, including:

School Name
School Type
Total Students
Total School Budget
Per Student Budget
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
% Overall Passing (The percentage of students that passed math and reading.)
Create a dataframe to hold the above results

In [3]:
#group by schools then calculate off schoolNameGB
schoolNameGB = completeDataDF.groupby("school_name")
schoolName = schoolNameGB.count().index
#unique type, budget; count students, mean math and reading scores
schoolType = schoolNameGB["type"].unique()
totalStudents = schoolNameGB["student_name"].count()
totalSchoolBudget = schoolNameGB["budget"].unique()
budgetPerStudent = (schoolNameGB["budget"].unique() / schoolNameGB["student_name"].count())
averageMathScore = schoolNameGB["math_score"].mean()
averageReadingScore = schoolNameGB["reading_score"].mean()
#create mathPass, readingPass, and overallPass groups to calculate passing numerators
mathPass = completeDataDF.loc[completeDataDF["math_score"] > 69, :]
mathPassGB = mathPass.groupby("school_name")
mathPassing = (mathPassGB["student_name"].count() / schoolNameGB["student_name"].count())
readingPass = completeDataDF.loc[completeDataDF["reading_score"] > 69, :]
readingPassGB = readingPass.groupby("school_name")
readingPassing = (readingPassGB["student_name"].count() / schoolNameGB["student_name"].count())
overallPass = completeDataDF.loc[((completeDataDF["math_score"] > 69) & (completeDataDF["reading_score"] > 69)), :]
overallPassGB = overallPass.groupby("school_name")
overallPassing = (overallPassGB["student_name"].count() / schoolNameGB["student_name"].count())

#add to dataframe schoolGroupDF
schoolGroupDF = pd.DataFrame({"School Name": schoolName, "School Type": schoolType.str[0], "Total Students": totalStudents, 
                             "Total Budget": totalSchoolBudget.str[0], "Budget Per Student": budgetPerStudent.str[0], 
                                "Average Math Score": averageMathScore, "Average Reading Score": averageReadingScore, 
                              "Math Passing Percent": mathPassing, "Reading Passing Percent": readingPassing, 
                              "Overall Passing Percent": overallPassing
                             })

#cleanup dataframe index
schoolGroupDF = schoolGroupDF.reset_index(drop=True)

#format dataframe
schoolGroupDF["Total Students"] = schoolGroupDF["Total Students"].map("{:,}".format)
schoolGroupDF["Total Budget"] = schoolGroupDF["Total Budget"].map("${:,.2f}".format)
schoolGroupDF["Budget Per Student"] = schoolGroupDF["Budget Per Student"].map("${:,.2f}".format)
schoolGroupDF["Average Math Score"] = schoolGroupDF["Average Math Score"].map("{:,.3f}".format)
schoolGroupDF["Average Reading Score"] = schoolGroupDF["Average Reading Score"].map("{:,.3f}".format)
schoolGroupDF["Math Passing Percent"] = schoolGroupDF["Math Passing Percent"].map("{:.2%}".format)
schoolGroupDF["Reading Passing Percent"] = schoolGroupDF["Reading Passing Percent"].map("{:.2%}".format)
schoolGroupDF["Overall Passing Percent"] = schoolGroupDF["Overall Passing Percent"].map("{:.2%}".format)

schoolGroupDF.style.hide_index()

Top Performing Schools (By % Overall Passing)
Sort and display the top five performing schools by % overall passing

In [4]:
#create performing dataframe from overall sort descending
topPerformingDF = schoolGroupDF.sort_values("Overall Passing Percent", ascending=False)

#display top 5
topPerformingDF.head(5).style.hide_index()

Bottom Performing Schools (By % Overall Passing)
Sort and display the five worst-performing schools by % overall passing.

In [5]:
#create performing dataframe from overall sort descending
bottomPerformingDF = schoolGroupDF.sort_values("Overall Passing Percent", ascending=True)

#display top 5
bottomPerformingDF.head(5).style.hide_index()

Math Scores by Grade
Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

Create a pandas series for each grade. Hint: use a conditional statement.

Group each series by school

Combine the series into a dataframe

Optional: give the displayed data cleaner formatting

In [6]:
#group by schools then calculate off schoolNameGB
schoolNameGB = completeDataDF.groupby("school_name")
schoolName = schoolNameGB.count().index

#get the mean by school for each grade
AvgGrade9 = completeDataDF.loc[completeDataDF["grade"] == "9th", :]
AvgGrade9School = AvgGrade9.groupby("school_name")
mathAvgGrade9 = AvgGrade9School["math_score"].mean()

AvgGrade10 = completeDataDF.loc[completeDataDF["grade"] == "10th", :]
AvgGrade10School = AvgGrade10.groupby("school_name")
mathAvgGrade10 = AvgGrade10School["math_score"].mean()

AvgGrade11 = completeDataDF.loc[completeDataDF["grade"] == "11th", :]
AvgGrade11School = AvgGrade11.groupby("school_name")
mathAvgGrade11 = AvgGrade11School["math_score"].mean()

AvgGrade12 = completeDataDF.loc[completeDataDF["grade"] == "12th", :]
AvgGrade12School = AvgGrade12.groupby("school_name")
mathAvgGrade12 = AvgGrade12School["math_score"].mean()

#add to mathGradeAvg dataframe
mathGradeAvg = pd.DataFrame({"School Name": schoolName, "9th": mathAvgGrade9, "10th": mathAvgGrade10, 
                             "11th": mathAvgGrade11, "12th": mathAvgGrade12})

#format dataframe
mathGradeAvg["9th"] = mathGradeAvg["9th"].map("{:,.3f}".format)
mathGradeAvg["10th"] = mathGradeAvg["10th"].map("{:,.3f}".format)
mathGradeAvg["11th"] = mathGradeAvg["11th"].map("{:,.3f}".format)
mathGradeAvg["12th"] = mathGradeAvg["12th"].map("{:,.3f}".format)

#cleanup dataframe index
mathGradeAvg = mathGradeAvg.reset_index(drop=True)
                           
mathGradeAvg.style.hide_index()

Reading Score by Grade
Perform the same operations as above for reading scores

In [7]:
#group by schools then calculate off schoolNameGB
schoolNameGB = completeDataDF.groupby("school_name")
schoolName = schoolNameGB.count().index

#get the mean by school for each grade
#use the grade school average dataframes from above
readingAvgGrade9 = AvgGrade9School["reading_score"].mean()
readingAvgGrade10 = AvgGrade10School["reading_score"].mean()
readingAvgGrade11 = AvgGrade11School["reading_score"].mean()
readingAvgGrade12 = AvgGrade12School["reading_score"].mean()

#add to readingGradeAvg dataframe
readingGradeAvg = pd.DataFrame({"School Name": schoolName, "9th": readingAvgGrade9, "10th": readingAvgGrade10, 
                             "11th": readingAvgGrade11, "12th": readingAvgGrade12})

#format dataframe
readingGradeAvg["9th"] = readingGradeAvg["9th"].map("{:,.3f}".format)
readingGradeAvg["10th"] = readingGradeAvg["10th"].map("{:,.3f}".format)
readingGradeAvg["11th"] = readingGradeAvg["11th"].map("{:,.3f}".format)
readingGradeAvg["12th"] = readingGradeAvg["12th"].map("{:,.3f}".format)

#cleanup dataframe index
readingGradeAvg = readingGradeAvg.reset_index(drop=True)
                           
readingGradeAvg.style.hide_index()

Scores by School Spending¶
Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

In [8]:
# Create the bins in which Data will be held
bins = [0.00, 585, 620, 635, 660]

# Create the names for the five bins
group_names = ["Less$584", "$585-619", "$620-634", "$635-655"]

#create new dataframe for binning
scoresBySpendingDF = pd.DataFrame(schoolGroupDF)

#clean up source data to strip display characters and format calculation fields as floats
scoresBySpendingDF["Budget Per Student"] = scoresBySpendingDF["Budget Per Student"].str.strip("$")
scoresBySpendingDF["Budget Per Student"] = scoresBySpendingDF["Budget Per Student"].astype(float)
scoresBySpendingDF["Average Math Score"] = scoresBySpendingDF["Average Math Score"].astype(float)
scoresBySpendingDF["Average Reading Score"] = scoresBySpendingDF["Average Reading Score"].astype(float)
scoresBySpendingDF["Math Passing Percent"] = scoresBySpendingDF["Math Passing Percent"].str.strip("%")
scoresBySpendingDF["Math Passing Percent"] = scoresBySpendingDF["Math Passing Percent"].astype(float)
scoresBySpendingDF["Reading Passing Percent"] = scoresBySpendingDF["Reading Passing Percent"].str.strip("%")
scoresBySpendingDF["Reading Passing Percent"] = scoresBySpendingDF["Reading Passing Percent"].astype(float)
scoresBySpendingDF["Overall Passing Percent"] = scoresBySpendingDF["Overall Passing Percent"].str.strip("%")
scoresBySpendingDF["Overall Passing Percent"] = scoresBySpendingDF["Overall Passing Percent"].astype(float)

#bin by budget per student
scoresBySpending = pd.cut(scoresBySpendingDF["Budget Per Student"], bins, labels=group_names, include_lowest=True)

#add column to dataframe with bin values
scoresBySpendingDF["Spend Range"] = scoresBySpending

In [9]:
#group by the bin values
scoresBySpendingGBDF = scoresBySpendingDF.groupby("Spend Range")
scoresBySpendingGBDF.mean()

#add binned mean values to dataframe
scoresBySpendDF = pd.DataFrame(scoresBySpendingGBDF.mean())

#select desired columns for display
scoresBySpendDisplayDF = scoresBySpendDF.loc[:, ["Average Math Score", "Average Reading Score", "Math Passing Percent", 
                                                 "Reading Passing Percent", "Overall Passing Percent"]]
#format display
scoresBySpendDisplayDF["Average Math Score"] = scoresBySpendDisplayDF["Average Math Score"].map("{:,.3f}".format)
scoresBySpendDisplayDF["Average Reading Score"] = scoresBySpendDisplayDF["Average Reading Score"].map("{:,.3f}".format)
scoresBySpendDisplayDF["Math Passing Percent"] = scoresBySpendDisplayDF["Math Passing Percent"].map("{:,.2f}%".format)
scoresBySpendDisplayDF["Reading Passing Percent"] = scoresBySpendDisplayDF["Reading Passing Percent"].map("{:,.2f}%".format)
scoresBySpendDisplayDF["Overall Passing Percent"] = scoresBySpendDisplayDF["Overall Passing Percent"].map("{:,.2f}%".format)

#display
scoresBySpendDisplayDF

,Average Math Score,Average Reading Score,Math Passing Percent,Reading Passing Percent,Overall Passing Percent
Spend Range,,,,,
Less$584,83.455,83.934,93.46%,96.61%,90.37%
$585-619,83.600,83.886,94.23%,95.90%,90.22%
$620-634,80.200,82.425,80.03%,89.53%,72.62%
$635-655,77.867,81.369,70.35%,83.00%,58.86%

Scores by School Size
Perform the same operations as above, based on school size.

In [10]:
# Create the bins in which Data will be held
STbins = [0, 999, 2001, 5000]

# Create the names for the five bins
STgroup_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#create new dataframe for binning
scoresByStudentsDF = pd.DataFrame(schoolGroupDF)

#clear up data for binning
scoresByStudentsDF["Total Students"] = scoresByStudentsDF["Total Students"].str.replace(',', '')
scoresByStudentsDF["Total Students"] = scoresByStudentsDF["Total Students"].astype(float)

In [11]:
#bin by total per student
scoresByStudents = pd.cut(scoresByStudentsDF["Total Students"], STbins, labels=STgroup_names, include_lowest=True)

#add column to dataframe with bin values
scoresByStudentsDF["School Size"] = scoresByStudents

In [12]:
#group by the bin values
scoresByStudentsGBDF = scoresByStudentsDF.groupby("School Size")
scoresByStudentsGBDF.mean()

#add binned mean values to dataframe
scoresByStudentDF = pd.DataFrame(scoresByStudentsGBDF.mean())

#select desired columns for display
scoresByStudentDisplayDF = scoresByStudentDF.loc[:, ["Average Math Score", "Average Reading Score", "Math Passing Percent", 
                                                 "Reading Passing Percent", "Overall Passing Percent"]]

#format display
scoresByStudentDisplayDF["Average Math Score"] = scoresByStudentDisplayDF["Average Math Score"].map("{:,.3f}".format)
scoresByStudentDisplayDF["Average Reading Score"] = scoresByStudentDisplayDF["Average Reading Score"].map("{:,.3f}".format)
scoresByStudentDisplayDF["Math Passing Percent"] = scoresByStudentDisplayDF["Math Passing Percent"].map("{:,.2f}%".format)
scoresByStudentDisplayDF["Reading Passing Percent"] = scoresByStudentDisplayDF["Reading Passing Percent"].map("{:,.2f}%".format)
scoresByStudentDisplayDF["Overall Passing Percent"] = scoresByStudentDisplayDF["Overall Passing Percent"].map("{:,.2f}%".format)

#display
scoresByStudentDisplayDF

,Average Math Score,Average Reading Score,Math Passing Percent,Reading Passing Percent,Overall Passing Percent
School Size,,,,,
Small (<1000),83.822,83.930,93.55%,96.10%,89.89%
Medium (1000-2000),83.374,83.865,93.60%,96.79%,90.62%
Large (2000-5000),77.746,81.344,69.96%,82.77%,58.29%

Scores by School Type
Perform the same operations as above, based on school type

In [13]:
#create new dataframe for grouping
scoresByTypeDF = pd.DataFrame(schoolGroupDF)

#group by the bin values
scoresByTypeGBDF = scoresByTypeDF.groupby("School Type")
scoresByTypeGBDF.mean()

#add binned mean values to dataframe
scoresByTypeGBDF = pd.DataFrame(scoresByTypeGBDF.mean())

#select desired columns for display
scoresByTypeDisplayDF = scoresByTypeGBDF.loc[:, ["Average Math Score", "Average Reading Score", "Math Passing Percent", 
                                                 "Reading Passing Percent", "Overall Passing Percent"]]

#format display
scoresByTypeDisplayDF["Average Math Score"] = scoresByTypeDisplayDF["Average Math Score"].map("{:,.3f}".format)
scoresByTypeDisplayDF["Average Reading Score"] = scoresByTypeDisplayDF["Average Reading Score"].map("{:,.3f}".format)
scoresByTypeDisplayDF["Math Passing Percent"] = scoresByTypeDisplayDF["Math Passing Percent"].map("{:,.2f}%".format)
scoresByTypeDisplayDF["Reading Passing Percent"] = scoresByTypeDisplayDF["Reading Passing Percent"].map("{:,.2f}%".format)
scoresByTypeDisplayDF["Overall Passing Percent"] = scoresByTypeDisplayDF["Overall Passing Percent"].map("{:,.2f}%".format)

scoresByTypeDisplayDF

,Average Math Score,Average Reading Score,Math Passing Percent,Reading Passing Percent,Overall Passing Percent
School Type,,,,,
Charter,83.474,83.897,93.62%,96.59%,90.43%
District,76.957,80.967,66.55%,80.80%,53.67%